*{
    margin: 0px;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}
.row_poster
{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row_poster:hover{
    transform:scale(1.08);
}
.row_posters::-webkit-scrollbar{
    display: none;
}
.row_posterLarge{
    max-height: 250px;
}
.row{
    color: white;
    margin-right:20px;
}
.banner{
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-position: centre centre;
    color: white;
    object-fit: contain;
    height: 448px;

}
.banner_contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;


}
.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;


}
.banner_desription{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
    

}